/* SELECT MAIN =============================== */
.select_main{ 
  /*border: 0.5px solid gray; */
  width:fit-content; 
  max-width: 40ch; 
  height: fit-content; 
  position: relative; 
} 


/* SELECT HEADER ============================= */
.select_header{ 
  height: fit-content; 
  width: 100%; 
  /*background-color: brown; */
  padding: 0.2ch;
  border-radius: 3px; 
  border: 1px solid darkgray; 
  display: flex; 
} 

.select_header > .select_header_removable_items{ 
  /*background-color: blue; */
  width: 100%; 
  display: flex; 
  flex-wrap: wrap; 
} 

.select_header_removable_items > div{
  vertical-align: text-top;
}

.select_header > .select_header_foldbtn{ 
  /*background-color: violet; */
  width: 4ch; 
  text-align: center; 
  vertical-align: top; 
} 


/* SELECT BODY ================================== */
.select_body {
  width: 100%; 
  padding: 0.2ch; 
  border-radius: 3px; 
  border: 1px solid dimgray; 
  background-color: white; 
  position: absolute; 
  z-index: 10; 
}

.select_body_option {
  text-align: right;
}

.select_body_label {
  font-weight: bold;
}

.select_body_option:hover { 
  background-color: #efefef; 
} 


/* PLACERHOLDER =================================== */
.placeholder { 
  color: dimgray; 
} 


/* BTN ========================================== */
.btn {
  /*padding-left: 1ch; 
  padding-right: 1ch; */
  margin-left:0.2ch;
  padding-left:0.6ch; 
  padding-right:0.6ch; 
  border-radius: 3px; 
  border: 0.1px solid gray; 
  background-color: lightgray; 
  user-select: none; 
}

.btn:hover { 
  border: 0.1px solid lightgray; 
  background-color: #c6c6c6; 
}

.btn:active {
  border: 0.1px solid gray; 
  background-color: lightgray; 
}
