h1 { 
  border-bottom: 1px dashed black; 
  margin: 0; 
  color:blue; 
}

h2 { 
  border: 1px solid black; 
  margin: 0; 
  color:blue; 
}

h3 { 
  border: 1px solid black; 
  margin: 0; 
  color:blue; 
} 

main { 
  border: 1px solid black; 
  padding: 1em; 
}

footer { 
  border: 1px solid black; 
  padding: 1em; 
}

